<div class="container">
  <h1 class="display-4"><%= t('activerecord.models.search.one') %></h1>
  <br>
  <%= render "categories", categories: @categories %>
  
  <%= render "search" %>

  <%= render "result", fact_results: @fact_results %> 

  <%= paginate @fact_results, theme: 'bootstrap-5' %>
  
  <hr>
  <%= render "email_form", fact_results: @fact_results %>
</div>